<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../Assets/css/fontello.css">
    <link rel="stylesheet" href="../Assets/css/contacto.css">
    <link rel="stylesheet" href="../Assets/css/estilos.css">
    <title>Juegos Epicos</title>
  </head>
  <body>
<header>
  <div class="contenedor">
      <h1 class="icon-mando">Los Juegos mas Espectaculares</h1>
      <input type="checkbox" id="menu-bar">
      <label class="icon-menu" for="menu-bar"></label>
      <nav class="menu">
        <a href="../Layouts/index.html">Inicio</a>
        <a href="#">Juegos</a>
        <a href="#">Información</a>
        <a href="../Layouts/contacto.html">Contacto</a>
      </nav>
  </div>
</header>

<form action="">
      <h2>Contacto</h2>
        <input type="text" name="Nombre" placeholder="Nombre">
        <input type="text" name="Correo" placeholder="Correo">
        <input type="text" name="Telefono" placeholder="Teléfono">
        <textarea name="Mensaje" placeholder="Escriba aqui su mensaje"></textarea>
        <input type="button" value="Enviar" id="boton">
    </form>

<main>

</main>
<footer>
<div class="contenedor">
<p class="copyright">Copyright © 2021, Juegos Epicos, Todos los derechos reservados.</p>
    <div class="redes-sociales">
  <img src="../Assets/img/instagram.png" alt="instagram"> <a href="#">Instagram</a>
  <img src="../Assets/img/facebook.png" alt="Facebook">   <a href="#">Facebook</a>
  <img src="../Assets/img/youtube.png" alt="Youtube">     <a href="#">Youtube</a>
  <img src="../Assets/img/twitter.png" alt="Twitter">     <a href="#">Twitter</a>
    </div>
  </div>
  </footer>
</body>
</html>
