<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../Assets/css/estilos.css">
    <link rel="stylesheet" href="../Assets/css/fontello.css">
    <title>Juegos Epicos</title>
  </head>
  <body>
<header>
  <div class="contenedor">
      <h1 class="icon-mando">HIPERGAMES</h1>
      <input type="checkbox" id="menu-bar">
      <label class="icon-menu" for="menu-bar"></label>
      <nav class="menu">
        <a href="../Layouts/index.html#">Inicio</a>
        <a href="#">Noticias</a>
        <a href="#">Información</a>
        <a href="#contacto">Contacto</a>
      </nav>
  </div>
</header>

<main>
  <section id="banner">
    <img src="../Assets/img/Portada.png" alt="Banner">
    <h2>Mejores comentarios de jugabilida</h2>
    <div class="contenedor">
    <p>¿Cual es el mejor juego del 2021 para vos?</p>
    <a href="#">Leer Mas</a>
    </div>
  </section>
  <section id="bienvenidos">
  <h2>Bienvenidos a nuestra web</h2>
  <p>Espero tenga una agradable visita a nuestro sitio web, aqui podran encontrar noticias relacionadas a los videojuegos y sus respectivos desarroladores, trataremos de dar las mejores noticias <br> y brindarle la mayor información posible</p>
  </section>

  <section id="blog">
  <h3>Lo ultimo de nuesto blog</h3>
  <div class="contenedor">
    <article>
      <img src="../Assets/img/residentevil8.jpg" alt="blog1">
      <h4>Resident Evil Village</h4>
    </article>
    <article>
      <img src="../Assets/img/outriders.jpg" alt="blog2">
      <h4>Outriders</h4>
    </article>
    <article>
      <img src="../Assets/img/it takes to.jpg" alt="blog3">
      <h4>It Takes To</h4>
    </article>
  </div>
  </section>

<section id="info">
  <h3>Aqui les dejo otros juegos que fueron lo mejor que se jugo este año, disfruten</h3>
<div class="contenedor">
    <div class="info-pag">
      <img src="../Assets/img/themedium.jpg" alt="The Medium">
      <h4>The Medium</h4>
    </div>

    <div class="info-pag">
      <img src="../Assets/img/dying light 2.jpg" alt="Dying Light 2">
      <h4>Dying Light 2</h4>
    </div>

    <div class="info-pag">
          <img src="../Assets/img/biomutant.jpg" alt="Biomutant">
          <h4>Biomutant</h4>
        </div>

        <div class="info-pag">
              <img src="../Assets/img/nierreplicant.jpg" alt="Nier Replicant">
              <h4>Nier Replicant</h4>
            </div>
</div>
</section>
</main>

<form action="">
      <h2 id="contacto" class="contacto">Contacto</h2>
        <input type="text" name="Nombre" placeholder="Nombre">
        <input type="text" name="Correo" placeholder="Correo">
        <input type="text" name="Telefono" placeholder="Teléfono">
        <textarea name="Mensaje" placeholder="Escriba aqui su mensaje"></textarea>
        <input type="button" value="Enviar" id="boton">
    </form>

<footer>
<div class="contenedor">
<p class="copyright">Copyright © 2021, Juegos Epicos, Todos los derechos reservados.</p>
    <div class="redes-sociales">
  <img src="../Assets/img/instagram.png" alt="instagram"> <a href="#">Instagram</a>
  <img src="../Assets/img/facebook.png" alt="Facebook">   <a href="#">Facebook</a>
  <img src="../Assets/img/youtube.png" alt="Youtube">     <a href="#">Youtube</a>
  <img src="../Assets/img/twitter.png" alt="Twitter">     <a href="#">Twitter</a>
    </div>
  </div>
  </footer>
</body>
</html>
